* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box !important;
    list-style: none;

}

.logo {
    height: 7rem;
    width: 11rem;
    position: relative;
    right: 10px;
    bottom: 68px;
    line-height: 40px;
    padding: 10px;
}

body {
    background-color: #0D071C;



}

.button {

    background-color: white;
    color: black;
    border: 2px solid #020E1C;
    width: 5rem;
    height: 2.7rem;
    position: relative;
    left: 36rem;
    bottom: 0.3rem;
    border-radius: 10px;
    font-size: 15px;

}

.button:hover {
    background-color: black;
    border: 2px solid #e7e7e7;

    color: white;
    border-radius: 10px;
}

nav {
    background-color: rgba(13, 5, 26, 0.6);
    height: 4.7rem;
    width: 100%;
    margin-top: 10px;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    z-index: 0;

}

nav ul {
    position: relative;
    text-align: center;
    margin-right: 10px;
    bottom: 10.2rem;

}

nav ul li {
    display: inline-block;
    line-height: 4.375rem;
    margin-right: 2rem;
    position: relative;
    left: 3.5rem;

}

nav ul li a {
    color: white;
    font-size: 1.4rem;
}

ul:hover li {
    opacity: 0.4;

}

ul li:hover {
    opacity: 1;
    filter: blur(0px);
}

.fgif {
    position: relative;
    left: 30rem;
    bottom: -12rem;
    height: 17rem;
    width: 24rem;
    border: 3px solid transparent;
    border-color: #E0EBEB;
}

.intro {
    position: relative;
    top: 0rem;
    width: 100%;
    height: 100vh;
    color: #e7e7e7;


    /* background-position-y: 0.1rem;  */
    z-index: -1;
}

/* .HEAD{
    font-family: 'Redressed', cursive;
text-align: left;
position: relative;
top: 15rem;
font-size: 3rem;
padding-left: 6rem;
} */
.flogo {
    display: inline;
    position: relative;
    height: 20rem;
    left: 5.7rem;
    top: 14.5em;
}

.he {
    height: 40vh;
    background-color: #E0EBEB;
    z-index: -1;
}

.features {
    display: inline-block;
    text-align: center;
    padding-left: 14rem;
    font-size: 3rem;
    position: relative;
    right: 7.9rem;
    top: 5.7rem;
    color: #0D071C;
    ;
}

.features-u {
    text-align: center;
}

.f-p {
    font-size: 2.5rem;
    font-family: 'Special Elite', cursive;

}

.hell {
    height: 86vh;
    color: #030303;
    z-index: -1;
}

.professional {
    position: relative;
    left: 65rem;
    top: 10rem;
}

.about {
    color: #e7e7e7;
    font-size: 1rem;
    font-family: 'Special Elite', cursive;
    padding-top: 3rem;
    padding-left: 1rem;
}

.hell-p {
    height: 10rem;
    width: 50rem;
    position: relative;
    top: 20rem;
    font-family: 'Special Elite', cursive;

}

.map {
    height: 20rem;
    width: 100%;
    position: relative;

    top: 10rem;

}

.mapheader {
    color: #E0EBEB;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    position: relative;
    top: 7rem;
    right: .5rem;
    font-size: 1.5rem;
}

.mapheader-1 {
    color: #E0EBEB;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    position: relative;
    top: 3rem;

    font-size: 5rem;

}

.shape {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-color: #E0EBEB;
    z-index: -1;
}

.foot-link {
    color: #E0EBEB;
}

.shape::before {
    border-bottom-left-radius: 70%;

    border-bottom-right-radius: 70%;
    position: absolute;
    background: #0D071C;
    right: -200px;
    left: -200px;
    top: -200px;
    content: '';
    bottom: 0;
    box-sizing: border-box;
}

.shape-1 {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-color: #0D071C;
    z-index: -1;
}

.shape-1::before {
    border-bottom-left-radius: 70%;

    border-bottom-right-radius: 70%;
    position: absolute;
    background: #E0EBEB;
    right: -200px;
    left: -200px;
    top: -200px;
    content: '';
    bottom: 0;
    box-sizing: border-box;
}

.footer {
    height: 30vh;
    background-color: #0D071C;
    color: #E0EBEB;
    z-index: -1;
}

.address {
    font-family: 'Playfair Display', serif;
    position: relative;
    text-align: center;
    top: 2rem;
}

.social {
    padding: 1%;
    text-align: center;
}

.footer-copyright {
    position: relative;
    top: 7rem;
    text-align: center;
    color: #E0EBEB;
}

.content {
    position: relative;
    top: 3rem;

}

@media screen and (max-width: 480px) {
    div {
        width: 100% !important;
    }

    button {
        width: 4rem !important;
        height: 1.6rem !important;
        position: relative !important;
        left: 4.8rem !important;
        bottom: 0rem !important;
        font-size: 0.8rem !important;
    }


    * {
        box-sizing: content-box;
    }

    nav ul {
        position: relative;
        bottom: 7.5rem;
    }

    b nav {
        height: 3.7rem;
        /* display: none; */

    }

    nav ul li {
        margin-right: 0.8rem;
        position: relative;
        left: 3.5rem;

    }

    nav ul li a {
        font-size: 1rem;
        position: relative;

    }

    .fgif {

        height: 11rem;
        width: 14rem;
        position: absolute;
        top: 24rem;
        left: 5.58rem;

    }

    .flogo {

        height: 12rem;
        width: 16.2rem;
        position: absolute;
        left: 4.58rem;
        top: 12rem;

    }



    .intro {
        padding: 0;
        margin: 0;
        height: 85vh;
    }

    .shape {}

    .shape-1 {}

    .he {
        height: 50vh;
    }

    .features-u {
        padding-top: 1rem;
        position: relative;
        bottom: 0rem;
        left: 0rem;
        font-size: 3rem;



    }

    .features {
        display: block;
        text-align: center;
        padding-left: 16.4rem;


    }

    .logo {
        height: 3.9rem;
        width: 6.5rem;
        position: relative;
        top: -3.2rem;
        left: -0.5rem;
        padding: 0rem;
    }

    .content {
        position: relative;
        top: 3rem;

    }

    /* .shape {
       
    }

    .shape-1 {
        
    } */

    .map {
        position: relative;
        left: 1.3rem;
        width: 22.268rem;

    }

}